/* in static/style.css */
#carouselExampleCaptions.carousel {
  /* limit and crop */
  max-height: 92vh;
  overflow: hidden;
}

/* ensure images fill and crop nicely */
#carouselExampleCaptions .carousel-item img {
  height: 92vh;
  object-fit: cover;
}

/* only show on login/register */
.login-bg {
  background: url('/static/login.gif') no-repeat center center fixed;
  background-size: cover;
}